@import url('https://fonts.cdnfonts.com/css/clash-display');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Clash-Display_Light';
  src: url(./fonts/ClashDisplay-Light.woff);
} */



/* @font-face {
  font-family: 'Display_Semibold';
  src: url('./fonts/ClashDisplay-Semibold.woff');
  font-weight: bold;
} */

/* @font-face {
  font-family: 'xtraBOLD';
  src: url(./fonts/ClashDisplay-Semibold.woff) format('woff');
} */
/* @font-face {
  font-family: 'Clash-Display_Medium';
  src: url(./fonts/ClashDisplay-Medium.woff);
} */
/* @font-face {
  font-family: 'Clash-Display_Semibold';
  src: url(./fonts/ClashDisplay-Semibold.woff);
} */

